@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.navbar,
.inner-nav,
.strategic-section {
  border-radius: 20px;
}

.rounded-ramos {
  border-radius: 20px;
}

.sales-stats {
  border-top-left-radius: 20px;
}

.nav-btn {
  border-radius: 15px;
}

.inline-icons {
  width: 80px;
  height: 80px;
}

.ramos-big {
  font-size: 23rem;
}

@media (min-width: 1600px) {
  body {
    max-width: 1500px;
    margin: auto;
  }
}
